$safe-margin: 5%;
$max-content-width: 1400px;
$header-height: 80px;
$header-height-mobile: 60px;

// BS4 Breakpoints (min-width)
$breakpoint-xs: 575px; // (max width)
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-2xl: 1400px;

$bluegreen: #487672;
$darkgreen: #738d67;
$palegreen: #ced27e;
$primary-yellow: #fef3b1;
$black: #2d2f33;
$palewhite: #f5f6fa;
